.containerReferralPlan {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 3.2rem 0;
}
.containerCurrentReferred {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleCurrentReferred {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-blue);
  margin-bottom: 2rem;
}

.boxCodeReferred {
  padding: 2rem 8rem;
  border: 2px dashed var(--color-grey-3);
  margin-bottom: 2rem;
}

.boxCodeReferred p {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-grey-2);
}

.containerLinkCode {
  position: relative;
  color: var(--color-orange);
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 1.6rem;
}

.shareIcon {
  font-size: 1.4rem;
}

.containerLinkCode label {
  font-size: 1.4rem;
  cursor: pointer;
}

.containerLinkCode input {
  display: none;
}

.iconsRedes {
  position: absolute;
  display: none;
  gap: 2rem;
  align-items: center;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.containerLinkCode input:checked ~ .iconsRedes {
  display: flex;
}

.iconRed {
  font-size: 2rem;
  cursor: pointer;
}

.codeDesc {
  text-align: start;
  margin-bottom: 4rem;
}

.containerQuantityMoney {
  margin: 0 auto;
  width: fit-content;
  padding: 4rem 6rem;
  background-color: var(--color-grey-6);
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 5.2rem;
}

.containerQuantityMoney img {
  width: 25.3rem;
  height: 24rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-grey-4);
}

.money p {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-grey-3);
  margin-bottom: 1.2rem;
}

.money span {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-orange);
}

/* CODES DISCOUNT */

.containerDetailsCodes {
}

.headerDetailsCode {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  border-bottom: 1px solid var(--color-grey-4);

  margin-bottom: 2.2rem;
}

.headerDetailsCode h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-blue);
}

.headerDetailsCode span {
  color: var(--color-orange);
  font-size: 1.4rem;
}

.containerDetailsDesc {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  margin-bottom: 4rem;
}

.containerDetailsCodes p {
  font-size: 1.4rem;
  color: var(--color-grey-3);
}

.containerDetailsCodes button {
  width: fit-content;
  align-self: flex-end;

  background-color: transparent;
  color: var(--color-orange);
  border: none;
}

.containerInputCode {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 3.2rem;
}

.formGroup {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

.formGroup label {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-grey-2);
}

.formGroup input {
  background-color: transparent !important;
  border: 1px solid var(--color-grey-4);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1.6rem;
  color: var(--color-grey-3);
}

.formGroup input:focus {
  outline: none;
  border: 1px solid var(--color-orange);
}

.optionCode {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: var(--color-orange);
}

.containerListCodeDiscount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3.2rem;
}

.tableCodeDiscount {
  width: 100%;
  border-spacing: 1rem;
}

.tableCodeDiscount th {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-grey-3);
  text-align: start;
}

.tableCodeDiscount td {
}

.tableCodeDiscount tr {
  text-align: start;
}
.tableCodeDiscount input {
  background-color: transparent !important;
  border: 1px solid var(--color-grey-4);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1.6rem;
  color: var(--color-grey-3);
}

.tableCodeDiscount input:focus {
  outline: none;
  border: 1px solid var(--color-orange);
}

.containerEditCodeDiscount {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.2rem;
  margin-bottom: 2rem;
}

.containerEditCodeDiscount button {
  background-color: var(--color-orange);
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.containerInputFormCode {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.containerFormCreateCode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  background-color: var(--color-grey-6);
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.containerCodeRedeemed {
  text-align: start;
  margin-bottom: 5rem;
  padding: 0 2rem;
}
.containerTitleCodeRedeemed {
  border-bottom: 1px solid var(--color-grey-4);
  margin-bottom: 2rem;
}

.erroMessageCreateCodeDiscount {
  margin-bottom: 1.2rem;
  font-size: 1.6rem !important;
  font-weight: bold;
  color: var(--color-orange) !important;
}

.titleCodeRedeemed {
  display: block;
  width: 100%;
  color: var(--color-grey-3) !important;
  padding-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.tableRedeemedCode {
  text-align: center;
  border-spacing: 2rem;
}

.tableRedeemedCode th {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-grey-1);
}

.tableRedeemedCodeHeader {
}

.tableInfoCodeRedeemed td {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-grey-3);
}

.containerButtons {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

.containerButtons button {
  padding: 1rem 4rem;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.btnSuccess {
  color: white !important;
  background-color: var(--color-orange) !important;
}

.btnCancel {
}

.tableReferred {
  width: 100%;
}

.tableReferred th {
  font-size: 1.6rem;
  color: var(--color-grey-1);
  font-weight: bold;
}

.tableReferred td {
  font-size: 1.4rem;
}
.userReferred {
  color: var(--color-grey-3);
}
.userReferred td {
  padding: 3rem 0;
  font-size: 1.6rem;
  border-bottom: 1px solid var(--color-grey-4);
}

.userReferredInfo {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.userReferred td img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100%;

  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.avatarUserReferred {
  width: 7.5rem;
  height: 7.5rem;
  filter: drop-shadow(1px 1px 2px 2px rgba(0, 0, 0, 0.2));
}

.msgReferred {
  padding: 5rem;
  border-bottom: 1px solid var(--color-grey-4);
}

.iconTrash {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
@media screen and (max-width: 1370px) {
  .containerReferralPlan {
    width: 90%;
  }
}

@media screen and (max-width: 1170px) {
  .containerInputFormCode {
    flex-direction: column;
  }
}

@media screen and (max-width: 920px) {
  .containerReferralPlan {
    width: 80%;
  }

  .tableCodeDiscount {
    border-spacing: 0.5rem;
  }

  .tableCodeDiscount * {
    font-size: 1.4rem !important;
  }

  .tableCodeDiscount th,
  .tableCodeDiscount td {
  }

  .optionCode {
    gap: 0.8rem;
  }

  .containerDetailsCodes p {
    text-align: left;
  }
}

@media screen and (max-width: 842px) {
  .tableCodeDiscount * {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 756px) {
  .tableCodeDiscount * {
    font-size: 1.8rem !important;
  }
}

@media screen and (max-width: 412px) {
  .tableCodeDiscount * {
    font-size: 1.4rem !important;
  }

  .tableRedeemedCode {
    border-spacing: 0.5rem;
  }

  .containerCodeRedeemed {
    padding: 1rem 0;
  }

  .containerQuantityMoney {
    padding: 1rem 4rem;
  }
}
