.pageRegister {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 6rem 0;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-grey-1);

  margin-bottom: 5rem;
}

.loginProviders {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  margin-bottom: 3rem;
}

.providerFacebook,
.providerGoogle {
  width: 45.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.78rem;

  font-size: 1.6rem;
  font-weight: bold;

  border-radius: 10px;
  border: none;

  padding: 1rem 0;
  cursor: pointer;
}

.providerFacebook {
  color: white;
  background-color: #1877f2;
}

.providerGoogle {
  background-color: var(--color-grey-6);
  color: var(--color-grey-2);
  border: 1px solid var(--color-grey-4);
}

.divisor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  width: 100%;
  margin-bottom: 2.2rem;
}

.divisor p {
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--color-grey-1);
}

.lineOfDivisor {
  display: block;
  width: 30%;
  height: 2px;
  background-color: var(--color-grey-4);
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2.6rem;
}

.containerInputsForm {
  max-width: 77.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;

  position: relative;
}

.formGroup label {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-grey-2);
}

.formGroup input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  font-size: 2rem;
  font-family: inherit;

  color: var(--color-grey-2);
}

.formGroup input:focus {
  outline: none;
  border: 1px solid var(--color-green);
}

.formGroup input::placeholder {
  font-size: 1.2rem;
  font-style: italic;
}

.formGroupReferred {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  align-items: center;
  gap: 2rem;
}
.formGroupReferred label {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-grey-1);
}

.formGroupReferred input {
  width: 44rem;

  padding: 0.8rem 1rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  font-size: 2rem;

  color: var(--color-grey-5);
}

.formGroupReferred input:focus {
  outline: none;
  border: 1px solid var(--color-green);
}

.formGroupReferred input::placeholder {
  font-size: 1.4rem;
  font-style: italic;
}

.divisorWithoutO {
  display: block;
  width: 67%;
  height: 1px;
  background-color: var(--color-grey-4);

  margin-bottom: 3.5rem;
}

.containerDescription {
  width: 60%;
  margin: 0 auto;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  margin-bottom: 2.8rem;
}

.containerDescription p {
  font-size: 1.6rem;
  font-style: italic;
  color: var(--color-grey-3);
}

.containerDescription a {
  color: var(--color-orange);
}

.containerPromotionAndEmails {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  gap: 1.2rem;

  margin-bottom: 3.2rem;
}

.containerPromotionAndEmails p {
  font-size: 1.6rem;
  color: var(--color-grey-2);
  min-width: 62rem;
}

.containerPromotionAndEmails input {
  cursor: pointer;
  accent-color: #058d59;
  width: 2rem;
  height: 2rem;
}

.btnRegister {
  margin-bottom: 3.2rem;
}
.btnRegister button {
  border: 1px solid var(--color-orange);
  border-radius: 20px;

  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: var(--color-orange);

  padding: 1rem 3.2rem;
  cursor: pointer;
}

.containerOptionLogin {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.containerOptionLogin p {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-grey-2);
}

.containerOptionLogin button {
  background-color: transparent;
  border: none;
  color: var(--color-orange);
  border-bottom: 1px solid var(--color-orange);
  font-size: 1.6rem;
  cursor: pointer;
}

/* Functions */

.containerInputForPassword {
  width: 100%;
  position: relative;
}

.iconVisiblePassword {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 2.2rem;
  height: 2.2rem;
  color: var(--color-grey-2);
  cursor: pointer;
}

.errorMessage {
  position: absolute;
  color: var(--color-orange);
  font-size: 1.4rem;
  font-style: italic;
  bottom: -1.7rem;
  right: 0;
}

.messageError {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--color-orange);
}

.overlay {
  position: fixed;
  top: 0;
  z-index: 99999999999;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.boxContent {
  width: 53.4rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 3rem;
  border-radius: 10px;
  animation: openOverlay 1s;
}

.containerInfoOverlay {
  border-top: 1px solid var(--color-grey-4);
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.2rem;
}

.containerInfoOverlay h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-blue);
}

.containerInfoOverlay p {
  font-size: 1.4rem;
  line-height: 1.2;
  color: var(--color-grey-2);
}

.btnOverlay {
  padding: 1rem 5rem;
  background-color: var(--color-orange);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.iconOverlay {
  align-self: flex-end;
  width: 3rem;
  height: 3rem;
  color: var(--color-grey-2);
}

@keyframes openOverlay {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 1160px) {
  .containerDescription {
    width: 80%;
  }
}

@media (max-width: 484px) {
  .formContainer {
    padding: 0 2rem;
  }

  .containerDescription {
    width: 100%;
  }
  .containerPromotionAndEmails {
    justify-content: center;
  }

  .containerPromotionAndEmails p {
    min-width: 60%;
  }

  .containerPromotionAndEmails input {
    width: 5rem;
    height: 5rem;
  }

  .formGroupReferred {
    flex-direction: column;
  }

  .formGroup input {
    padding-right: 5rem;
  }
}
