/* CHAT */
.containerChatMessage {
  padding: 2px 2rem;
  overflow: hidden;
}

/* CHAT MESSAGE */

.containerChatMessage {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  overflow-y: scroll;
}

.ownMessage,
.otherMessage {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.ownMessage {
  align-self: flex-end;
}

.otherMessage {
  align-self: flex-start;
  background-color: var(--color-grey-6);
}

.containerChatMessage p {
  font-size: 1.6rem !important;
  color: var(--color-grey-1);
  width: 27rem;

  margin-bottom: 0.6rem;
}

.wrapperInfoMessage {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-right: auto;
  color: var(--color-grey-4);
  font-style: italic;
}

.iconMessage {
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
}

.iconMessageColor {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  color: #ffe234;
}

@media screen and (max-width: 756px) {
  .containerChatMessage {
    position: relative;
  }

  .ownMessage {
    background-color: white;
  }

  .ownMessage .wrapperInfoMessage {
    position: absolute;
    left: 3rem;
    bottom: 0;
  }

  .otherMessage .wrapperInfoMessage {
    position: absolute;
    right: 4rem;
    bottom: 0;
  }
}
