.container {
  padding: 4rem 0;
}

.title {
  justify-content: start;
  color: #1b3c6a;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.containerCard {
  width: min-content;
  display: grid;
  justify-items: flex-start;
  gap: 2rem;
  margin-bottom: 6rem;
}

.containerCard > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mySwipper {
}

.card {
  width: min-content;
}

.cardHr {
  border: 0.1px solid rgb(219, 219, 219);
  width: 50%;
  margin-bottom: 5rem;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.6rem;
  text-decoration: underline;
  cursor: pointer;
  background-color: white;
  color: #d53e27;
  border: none;
  text-align: center;
  margin-top: 2rem;
}

.btn span {
  color: var(--color-orange);
}

.btn .iconEdit {
  color: var(--color-orange);
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.not_event {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  color: var(--color-blue);
  text-align: center;
  width: 50%;
  margin-top: 1rem;
}

.revision {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.6rem;
  background-color: white;
  color: #d53e27;
  border: none;
  text-align: center;
  margin-top: 2rem;
}

.revision span {
  color: var(--color-orange);
}

.revision .iconEdit {
  color: var(--color-orange);
}

.revisionS {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}


@media screen and (max-width: 1420px) {
  .containerCard {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 1010px) {
  .containerCard {
    grid-template-columns: none !important;
  }
}

@media screen and (max-width: 756px) {
  .containerCard {
    width: 100%;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 520px) {
  .containerCard {
    grid-template-columns: none !important;
  }
}
