.container{
    margin-top: 4rem;
   max-width: 1000px;
    margin-left: 3rem;
}

.title{
    justify-content: start;
    color:#1B3C6A;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.containercard{
    margin-bottom:6rem
}

.card{
    margin-bottom: 3rem;
    text-align: left;
}


.mySwipper {
   position: relative;
  }

.cardHr {
  border: 0.1px solid rgb(219, 219, 219);
  width: 100%;
  margin-bottom: 5rem;
}


.btn {
  font-size: 1.6rem;
  text-decoration: underline;
  cursor: pointer;
  background-color: white;
  color:#D53E27;
  border:none;
  margin-top: 2rem;  
  margin-left: 5rem;
  text-align: center;
}
  
.btn span {
  color: var(--color-orange);
}

.btn .iconEdit {
  color: var(--color-orange);
}

.btns{
  display: flex;
}

.not_event {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  color: var(--color-blue);
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

  
  
