.container {
}

.title {
  font-size: 2.5rem;
  color: var(--color-grey-3);
  letter-spacing: 1px;
  margin-top: 6rem;
  font-weight: bold;
  text-align: center;
}

.containerCard {
  margin: 0 auto;
  width: min-content;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.container_pagination {
  margin-top: 3rem;
}

.not_event {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  color: var(--color-blue);
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

@media screen and (max-width: 1272px) {
  .containerCard {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 953px) {
  .containerCard {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 315px) {
  .containerCard {
    grid-template-columns: none;
  }
}
