.section {
  width: 100%;
  /* scroll-snap-align: start; */
  display: flex;
}

.section1 {
  width: 100%;
  /* scroll-snap-align: start; */
  display: flex;
}
.section2 {
  width: 100%;
  /* scroll-snap-align: start; */
  display: flex;
}

.section3 {
  width: 100%;
  /* scroll-snap-align: start; */
  display: flex;
}

.section4 {
  width: 100%;
  /* scroll-snap-align: start; */
  display: flex;
}

.section5 {
  width: 100%;
  /* scroll-snap-align: start; */
  display: flex;
}
.section6 {
  width: 100%;
  /* scroll-snap-align: start; */
  display: flex;
}

/*SECTION 1 */

.container1 {
  height: 90rem;
  margin-bottom: 6rem;
  width: 50%;
  margin-top: 5rem;
}

.containerFormDate {
  overflow-y: auto;
}

.containerFormDate::-webkit-scrollbar {
  display: none;
}

.title {
  color: #1b3c6a;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.subTitle {
  color: #707070;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
}

.input {
  height: 6rem;
  border-radius: 10px;
  border: 1px solid var(--color-grey-4);
  background-color: white;
  color: var(--color-grey-2);
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.input::placeholder {
  padding: 2px;
  color: var(--color-grey-2);
}

.input:focus {
  outline: none;
  border: 2px solid var(--color-blue);
}

.input:invalid {
  border: 2px dashed red;
  box-shadow: 0 0 5px 1px red;
}

.input:invalid:required {
  background-image: red;
}

.subInput {
  color: #878787;
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
}

/*SECTION 2 */

.containerChecks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.2rem;
}
.containerChecks2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.containerChecks2 .checkBox {
  display: none;
}

.checks {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.labelsChecks {
  color: #707070;
  font-size: 1.3rem;
}

.checkBox {
  accent-color: #d53e27;
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.checkOther {
  margin-top: -3rem;
  margin-left: 1rem;
}

.otherCategorie {
  display: none;
  margin-top: 1rem;
}

.checkOther input:checked ~ .otherCategorie {
  display: flex;
}

.input2 {
  height: 4rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: white;
  color: var(--color-grey-2);
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

/*SECTION 3: Description */

.containerDescription {
  margin-bottom: 8rem;
}

.textareaShort {
  padding: 12px 20px;
  height: 15rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: white;
  color: var(--color-grey-2);
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  resize: none;
}

.textareaShort::placeholder {
  margin-top: 2rem;
  color: #707070;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.textareaLong {
  padding: 12px 20px;
  height: 15rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: white;
  color: var(--color-grey-2);
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

.textareaLong::placeholder {
  margin-top: 2rem;
  color: #707070;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

/*SECTION 4: Pictures */

.subTitle4 {
  color: #707070;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

/* .dropFileIput {
  text-align: center;
  width: 50rem;
  height: 30rem;
  border: 2px dashed var(--color-grey-4);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: var(--color-grey-2);
  background-color: var(--input-bg);
  margin-bottom: 2rem;
  margin-left: 4rem;
} */

/* .dropFileIput input {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.dropFileIput input::placeholder {
  color: var(--color-grey-2);
}

.dropFileIput p {
  color: var(--color-grey-2);
  text-align: center;
  margin-top: 1rem;
}

.dropFileIput div {
  color: var(--color-grey-2);
  text-align: center;
  margin-top: 1rem;
}

.dropFileIput:hover,
.dropFileIput.dragover {
  opacity: 0.6;
}

.dropFilePreview {
  margin-top: 1rem;
}

.dropFilePreview p {
  color: #707070;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
} */

/* .mySwiper{
  position: relative;
  width: 100%;
  max-height: 10rem;
  border: 2px solid var(--color-grey-4);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: var(--color-grey-2);
  background-color: var(--input-bg);
  margin-bottom: 1rem;

} */

.mySwiperImg {
  width: 40rem;
  height: 24rem;
  border: 2px solid var(--color-grey-4);
  border-radius: 10px;
}

.mySwiperBtnDel {
  background-color: rgb(255, 255, 255);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #d53e27;
  border: none;
}

.mySwiperBtnDel:hover {
  color: white;
  background-color: #d53e27;
}

.checkBox4 {
  accent-color: #d53e27;
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
  cursor: pointer;
}

/*SECTION 5 */

/*5:OnLine Question */

.containerOnLine {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.containerOnLine label {
  color: #707070;
  font-size: 1.3rem;
}

/*5:Si En Linea */

.online {
  display: none;
  margin-top: 1rem;
}

.online input {
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: rgb(167, 25, 25);
  color: var(--color-grey-2);
  width: 60%;
  margin-top: 1rem;
}

.checkBox4:checked ~ .online {
  display: block;
}

/*5:notOnline */

.notOnline {
  display: block;
  margin-top: 1rem;
}

.checkBox4:checked ~ .notOnline {
  display: none;
}

/*5:Dpto - Municipio - Direccion - Barrio */

.containerDirection {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.select {
  height: 4rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: white;
  color: var(--color-grey-2);
  width: 50%;
  margin-right: 1rem;
}

.Muni {
  height: 4rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: white;
  color: var(--color-grey-2);
  width: 100%;
  margin-right: 1rem;
}

.Muni input {
  height: 4rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: white;
  color: var(--color-grey-2);
  width: 100%;
  margin-right: 1rem;
}

.input5 {
  height: 5rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: white;
  color: var(--color-grey-2);
  width: 100%;
  margin-bottom: 1rem;
}

/*5:Map */

.containerMap {
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.titleMap {
  color: #585858;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.subtextMap {
  color: #585858;
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.incon {
  height: 2rem;
  width: 2rem;
}

.btn {
  background-color: white;
  border: none;
  cursor: pointer;
}

/*5:especialRequires*/

.especialRequires {
  margin-top: 1rem;
}

.subtextEspecial {
  color: red;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

/* color:#707070; */

.especialDiv {
  display: flex;
}

.iconExclamacion2 {
  height: 4rem;
  width: 4rem;
}

.especialRequires input {
  height: 6rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: white;
  color: var(--color-grey-2);
  width: 100%;
  margin-bottom: 1rem;
}

/*SECTION 6: Prices and Dates */

/*6: cupos and prices*/

.containerInfo {
  display: flex;
  width: 100%;
}

.containerSubInfo {
  display: block;
  width: 25%;
  padding: 1rem;
}

.subInfoTitle {
  color: #585858;
  font-size: 1.4rem;
  font-weight: bold;
  height: 2rem;
}

.subInfoInput {
  height: 5rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: white;
  color: var(--color-grey-2);
  width: 11rem;
  margin-bottom: 1rem;
  text-align: center;
  justify-content: center;
}

.labelS {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}

.subInfotxt {
  color: #585858;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.btn6 {
  background-color: white;
  border: none;
  cursor: pointer;
  color: red;
  font-style: italic;
  font-size: 1rem;
}

.hr {
  border: 0.1px solid rgb(219, 219, 219);
  width: 100%;
  margin: 1rem;
}

/*DATE*/

.contTimeAndDate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.contDate {
  display: block;
  width: 25%;
  margin-left: 2rem;
}

.contDate label {
  color: #585858;
  font-size: 1.4rem;
  font-weight: bold;
  height: 2rem;
}

.contDate input {
  cursor: pointer;
}

/* 

.contInputDate {
  display: flex;
}

.contInputDate input {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--color-grey-4);
  color: var(--color-grey-1);
  margin-right: 2rem;
}

.contInputDate input:focus {
  outline: none;
  border: 1px solid var(--color-grey-4);
}

.containerDate {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.containerDate input {
  display: none;
}

.containerDate label {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.containerDate label img {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.calendar {

  margin-top: 1rem;
}

.containerDate input:checked ~ .calendar {
  display: block;
} */

/*TIME*/
.contStart {
  display: block;
  width: 25%;
  margin-left: 2rem;
}

.contStart label {
  color: #585858;
  font-size: 1.4rem;
  font-weight: bold;
  height: 2rem;
  margin-bottom: 2rem;
}

.contStart input {
  font-size: 1.6rem;
  border-radius: 5px;
  border: 1px solid var(--color-grey-4);
  color: var(--color-grey-1);
  margin-right: 2rem;
  width: 15rem;
  height: 4.5rem;
}

.contStart input::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}

.contStart input::-webkit-datetime-edit-text {
  padding: 19px 4px;
}

.contStart input::-webkit-datetime-edit-hour-field {
  background-color: #f2f4f5;
  border-radius: 15%;
  padding: 19px 13px;
}

.contStart input::-webkit-datetime-edit-minute-field {
  background-color: #f2f4f5;
  border-radius: 15%;
  padding: 19px 13px;
}

.contStart input::-webkit-datetime-edit-ampm-field {
  background-color: #bfcecc;
  border-radius: 15%;
  color: #fff;
  padding: 19px 13px;
}

.contStart input::-webkit-clear-button {
  display: none;
}

.contStart input::-webkit-inner-spin-button {
  display: none;
}

.addDelete {
  border: none;
  background-color: transparent;
}

.basquet {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/*Nueva Fecha*/

.checkOtherDate {
  margin-bottom: 2rem;
  margin-left: 1rem;
  text-align: center;
}

.checkOtherDate input {
  display: none;
}

.checkOtherDate label {
  background-color: white;
  border: none;
  color: red;
  font-size: 1.5rem;
  margin-right: 4rem;
  cursor: pointer;
  text-align: end;
  width: 100%;
  margin-bottom: 7rem;
  cursor: pointer;
}

.newDate {
  display: none;
}

.checkOtherDate input:checked ~ .newDate {
  display: block;
}

/*TERMS N CONDITIONS*/

.acceptText {
  color: #707070;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
}

/*BUTTONS*/

.btnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 6rem;
  width: 100%;
  align-items: center;
  text-align: center;
}

.viewBtn {
  font-size: 1.6rem;
  border-radius: 18px;
  text-align: center;
  padding: 8px 30px;
  cursor: pointer;
  background-color: #d6d6d6;
  color: #707070;
  border: none;
}

.viewBtn:hover {
  font-size: 1.6rem;
  border-radius: 18px;
  text-align: center;
  padding: 8px 30px;
  cursor: pointer;
  background-color: #d53e27;
  color: white;
  border: none;
  font-weight: bolder;
}

.cancelBtn {
  font-size: 1.6rem;
  text-decoration: underline;
  text-align: center;
  padding: 8px 30px;
  cursor: pointer;
  background-color: white;
  color: #d53e27;
  border: none;
  width: 100%;
}

/*LINEA VERTICAL*/

.containerVerticalLine {
  align-items: center;
  margin-top: -6rem;
}

.containerLine {
  margin-right: 20rem;
  margin-left: 10rem;
  height: 90rem;
  margin-bottom: 6rem;
}

/*LINEA VERTICAL ROJA*/

.timeVerticalRed {
  list-style-type: none;
  border-left: 2px solid #d53e27;
  padding: 2px;
  height: 6%;
}

.timeVerticalRed li {
  height: 50px;
  position: relative;
}

.timeVerticalRed li b:before {
  content: '';
  position: absolute;
  top: 4rem;
  left: -2.8rem;
  width: 5rem;
  height: 5rem;
  border: 2px solid #d53e27;
  border-radius: 5rem;
  background: #d53e27;
}

.timeVerticalRed li span {
  position: absolute;
  color: #fff;
  top: 4.7rem;
  left: -1.3rem;
  font-size: 3.5rem;
  font-weight: bold;
}

/*LINEA VERTICAL GRIS*/

.timeVertical {
  list-style-type: none;
  border-left: 2px solid #d6d6d6;
  padding: 2px;
  height: 95rem;
}

.timeVertical li {
  height: 50px;
  position: relative;
}

.timeVertical li b:before {
  content: '';
  position: absolute;
  top: 25rem;
  left: -12px;
  width: 18px;
  height: 18px;
  border: 2px solid #d6d6d6;
  border-radius: 10px;
  background: #d6d6d6;
}

.timeVertical li span {
  position: absolute;
  color: #fff;
  top: 18px;
  left: -6px;
}

/*SECTIONS BUTTONS*/

.containerBtnSection {
  position: sticky;
  bottom: 10rem;
  height: 20rem;
  width: 90%;
}

.btnSectionMove {
  display: block;
  background-color: #d53e27;
  border: none;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  margin-bottom: 1rem;
  margin-left: 150rem;
}

/* //AUTOOO// */

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.container input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
.container input[type='text'] {
  background-color: #f1f1f1;
  width: 100%;
}

.container input[type='submit'] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/*ERRORES*/

.errors {
  font-family: sans-serif;
  color: #ba150a;
  font-size: 14px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*Seccion 1*/
.container1 input:required {
  border: 3px solid red;
  background-color: white;
  box-shadow: none;
}

.container1 input:required:invalid {
  border-color: #c00000;
}

/*Seccion 3*/

.containerDescription textarea:required {
  border: 3px solid red;
  background-color: white;
  box-shadow: none;
}

.containerDescription textarea:required {
  border-color: #c00000;
}

/*Seccion 4*/

.errorsPicture {
  text-align: center;
  width: 50rem;
  height: 30rem;
  border: 2px dashed red;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: var(--color-grey-2);
  background-color: var(--input-bg);
  margin-bottom: 2rem;
}

.errorsPicture input {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.errorsPicture input::placeholder {
  color: var(--color-grey-2);
}

.errorsPicture p {
  color: var(--color-grey-2);
  text-align: center;
  margin-top: 1rem;
}

.errorsPicture div {
  color: var(--color-grey-2);
  text-align: center;
  margin-top: 1rem;
}

.errorsPicture:hover,
.errorsPicture.dragover {
  opacity: 0.6;
}

.errorsPicture {
  margin-top: 1rem;
}

.errorsPicture p {
  color: red;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.btnAddPhoto {
  margin-top: 1.5rem;
  margin-left: 1rem;
  color: var(--color-grey-4);
  cursor: pointer;
  width: 10rem;
}

.btnAddPhoto span {
  font-size: 1.4rem;
  color: black;
  cursor: pointer;
}
/*Seccion 5*/

.online input:required {
  border: 3px solid red;
  background-color: white;
  box-shadow: none;
}

.online input:required {
  border-color: #c00000;
}

.containerDirection input:required {
  border: 3px solid red;
  background-color: white;
  box-shadow: none;
}

.containerDirection input:required {
  border-color: #c00000;
}

.Muni input:required {
  border: 3px solid red;
  background-color: white;
  box-shadow: none;
}

.Muni input:required {
  border-color: #c00000;
}

.direccionError input:required {
  border: 3px solid red;
  background-color: white;
  box-shadow: none;
}

.direccionError input:required {
  border-color: #c00000;
}

.barrio input:required {
  border: 3px solid red;
  background-color: white;
  box-shadow: none;
}

.barrio input:required {
  border-color: #c00000;
}

/*Seccion 6*/

.containerSubInfo input:required {
  border: 3px solid red;
  background-color: white;
  box-shadow: none;
  height: 5rem;
  border-radius: 10px;
  width: 11rem;
  margin-bottom: 1rem;
  text-align: center;
}

.containerSubInfo input:required {
  border-color: #c00000;
}

.contDate input:required {
  border: 3px solid red;
  background-color: white;
  box-shadow: none;
}

.contDate input:required {
  border-color: #c00000;
}

.contStart input:required {
  border: 3px solid red;
  background-color: white;
  box-shadow: none;
}

.contStart input:required {
  border-color: #c00000;
}

.containerDatess input {
  margin-bottom: 2rem;
}

.addDate {
  background-color: transparent;
  color: red;
  cursor: pointer;
  margin-bottom: 2rem;
  border: none;
  text-align: center;
}

.delete {
  background-color: transparent;
  color: red;
  cursor: pointer;
  margin-bottom: 2rem;
  border: none;
  text-align: center;
  margin-left: 2rem;
}

/*BONO*/

.containerBono {
  display: none;
  margin-top: 1rem;
  background-color: #f5f5f5;
}

.toShow {
  display: none;
  margin-top: 1rem;
  background-color: #f5f5f5;
}

.checkBono {
  margin-top: -3rem;
  margin-left: 1rem;
}

.opcionesBonos {
  display: flex;
  height: 10rem;
  justify-content: space-around;
  text-align: center;
  margin: auto;
}

.descuentoCantidad {
  display: flex;
}

.descuento {
  display: inline-block;
  margin-right: 0.5rem;
}

.descuento label {
  color: #585858;
  font-size: 1.4rem;
  font-weight: bold;
  height: 2rem;
  margin-bottom: 2rem;
}

.descuento input {
  height: 5rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: white;
  color: var(--color-grey-2);
  width: 11rem;
  margin-bottom: 1rem;
  text-align: center;
}

.descuento p {
  height: 5rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: rgb(243, 243, 243);
  color: var(--color-grey-2);
  width: 11rem;
  margin-bottom: 1rem;
  text-align: center;
}

.codigoAble {
  display: inline-block;
  margin-right: 0.5rem;
}

.codigoAble label {
  color: #585858;
  font-size: 1.4rem;
  font-weight: bold;
  height: 2rem;
  margin-bottom: 2rem;
}

.codigoAble p {
  height: 5rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: white;
  color: var(--color-grey-2);
  width: 11rem;
  margin-bottom: 1rem;
  text-align: center;
}

.inputCodigo::placeholder {
  text-align: center;
  justify-content: center;
}

.addBono {
  margin-top: 1rem;
  background-color: white;
  text-align: right;
  margin-right: 3rem;
}

.checkBono input:checked ~ .paso .containerBono {
  display: block;
}

.checkBono input:checked ~ .paso .toShow {
  display: block;
}

.checkDescuento {
  accent-color: #29aa79;
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
}

.infoIcon {
  height: 2rem;
  width: 2rem;
  margin-left: 4rem;
}

.btnbono {
  background-color: white;
  border: none;
  color: red;
  font-size: 1.2rem;
  margin-right: 4rem;
  cursor: pointer;
}

.deleteBono {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  border: none;
  text-align: right;
  justify-content: flex-end;
}

.inputBonos {
  display: flex;
}

.checkBoxBono {
  accent-color: #5ed527;
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.containerBonoSub {
  display: flex;
}

.conInfoBono {
  display: block;
  width: 25%;
  margin-left: 2rem;
}

.contInfoBonoUnable {
  color: #585858;
  font-size: 1.4rem;
  font-weight: bold;
  height: 2rem;
  text-align: center;
  justify-content: center;
}

.contInfoBonoUnable input {
  height: 5rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: #f5f5f5;
  color: var(--color-grey-2);
  width: 11rem;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.contInfoBonoAble input {
  height: 5rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: white;
  color: var(--color-grey-2);
  width: 11rem;
  text-align: center;
  justify-content: center;
}

.contInfoBonoAble {
  color: #585858;
  font-size: 1.4rem;
  font-weight: bold;
  height: 2rem;
  text-align: center;
  justify-content: center;
}

.conInfoBono label {
  color: #585858;
  font-size: 1.4rem;
  font-weight: bold;
  height: 2rem;
  text-align: center;
  justify-content: center;
}

.conInfoBono input {
  height: 5rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: white;
  color: var(--color-grey-2);
  width: 11rem;
  text-align: center;
  justify-content: center;
}

.titleCode {
  color: #585858;
  font-size: 1.4rem;
  font-weight: bold;
  height: 2rem;
  text-align: center;
  justify-content: center;
}

.bonoAble {
  height: 5rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: white;
  color: var(--color-grey-2);
  width: 11rem;
  text-align: center;
  justify-content: center;
}

.bonoUnable {
  height: 5rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  background-color: #f5f5f5;
  color: var(--color-grey-2);
  width: 11rem;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.generarCodigo {
  font-size: 1.6rem;
  border-radius: 18px;
  text-align: center;
  padding: 8px 30px;
  cursor: pointer;
  background-color: #29aa79;
  color: white;
  border: none;
  text-decoration: bold;
}

.generarCodigo:hover {
  font-weight: bolder;
}

.editarCodigo {
  font-size: 1.6rem;
  background-color: transparent;
  color: red;
  cursor: pointer;
  margin-bottom: 2rem;
  border: none;
  text-align: center;
  margin-left: 1rem;
}

/* .editarResetear{
  display: flex;
} */

.editarCodigo {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-orange);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.editarCodigo span {
  color: var(--color-orange);
}

.editarCodigo .iconEdit {
  color: var(--color-orange);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* VISTA PREVIA */

.btnVista {
  display: flex;
}

.btnVista input:checked ~ .modal {
  display: block;
}

.modal {
  position: absolute;
  padding-top: 15rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: var(--color-grey-6) #2b2a2a; /* scroll thumb and track */
}

/* Modal Content */
.modalContent {
  position: absolute;
  display: flex;
  background-color: #fefefe;
  padding: 10px;
  border: 1px solid #888;

  margin-left: 5rem;
}

.column1 {
  flex: 60%;
}

.column2 {
  flex: 40%;
  background-color: rgba(244, 244, 244, 255);
  display: block;
  padding: 3rem;
  width: 100%;
  margin-left: 3rem;
  margin-right: 3rem;
}

.containerInfoModal {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.mySwipperInfo {
  max-width: 100rem;
}

.imgInfo {
  width: 80%;
  height: 44rem;
}

.container_icon_heartInfo {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--color-orange);
  border-radius: 60px;
  position: relative;
  bottom: 18px;
  left: 20px;
  z-index: 100;
  box-shadow: 1px 6px 10px var(--color-grey-3);
}

.icon_heartInfo {
  margin: auto;
  color: var(--color-grey-6);
  cursor: pointer;
}

.container_icon_shareInfo {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--color-grey-6);
  border-radius: 60px;
  position: relative;
  bottom: 58px;
  left: 72px;
  z-index: 100;
  box-shadow: 1px 6px 10px var(--color-grey-3);
}

.container_icon_shareInfo input {
  display: none;
}

.container_icon_shareInfo label {
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
}

.container_icon_shareInfo input:checked ~ .redes {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

.labelInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_shareInfo {
  color: var(--color-orange);
  cursor: pointer;
  position: relative;
  bottom: 2px;
  right: 2px;
}

.titleInfo {
  display: flex;
  color: var(--color-blue);
  font-size: 3.5rem;
  font-weight: bold;
}

.container_ratingInfo {
  margin-left: auto;
}

.numberRatingInfo {
  color: var(--color-grey-3);
  font-size: 2rem;
  margin: auto 0;
  font-weight: normal;
}

.container_opinionsInfo {
  display: flex;
  margin-top: 10px;
  text-align: end;
}

.opinionsInfo {
  color: var(--color-orange);
  margin-left: auto;
  border-bottom: 1px solid var(--color-orange);
  cursor: pointer;
  font-size: 1.5rem;
}

.title_descriptionInfo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-grey-2);
  margin-top: 10px;
  text-align: left;
}

.descriptionInfo {
  font-size: 1.4rem;
  color: var(--color-grey-3);
  margin-top: 10px;
  text-align: left;
}

.container_plusInfo {
  display: flex;
  margin-top: 10px;
}

.container_plusInfo p {
  color: var(--color-orange);
  margin-left: auto;
  border-bottom: 1px solid var(--color-orange);
  cursor: pointer;
  font-size: 1.5rem;
}

.line {
  border: 0.1px solid rgb(219, 219, 219);
  margin-top: 10px;
}

.reportInfo {
  font-size: 1.2;
  color: var(--color-grey-3);
  margin-top: 10px;
  text-align: left;
}

.containerLoc {
  display: block;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.container_locationLoc {
  display: flex;
  margin-bottom: 1rem;
}

.container_locationLoc p {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-grey-2);
}

.iconLoc {
  font-size: 25px;
}

.cityLoc {
  font-size: 1.6rem;
  color: var(--color-grey-2);
  text-align: left;
  margin-top: 1rem;
}

.stateLoc {
  font-size: 1.6rem;
  color: var(--color-grey-2);
  text-align: left;
  margin-top: 1rem;
}

.textoLoc {
  font-size: 1.4rem;
  color: var(--color-grey-2);
  margin-top: 10px;
  text-align: left;
}

.imgLoc {
  width: 60rem;
  height: 45rem;
  text-align: center;
}

.descriptionLoc {
  font-size: 1.4rem;
  color: var(--color-grey-2);
  margin-top: 10px;
  text-align: left;
}

.eventDate {
  display: inline;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50rem;
}

.containerTitleDate {
  display: flex;
}

.titleDate {
  width: 100%;
  display: flex;
  color: rgba(88, 88, 88, 255);
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.tableDate {
  margin-left: 0;
}

.tableDate td,
.tableDate th {
  padding: 2vh 2.5vh 2vh 2.5vh;
  text-align: center;
}

.tableDate th {
  color: #707070;
  text-align: center;
  font-weight: 600;
  position: sticky;
  top: 0px;
  outline: 0;
  max-height: 98vh;
  overflow: auto;
  font-size: 1.1rem;
}

.tableDate td {
  text-align: center;
  font-size: 1.1rem;
  padding-left: 1vw;
  font-weight: 400;
  width: fit-content;
  color: rgba(112, 112, 112, 255);
}

.tableDate td input:checked {
  color: brown;
  background-color: brown;
}

.buttonDate {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-grey-4);
  background-color: var(--color-orange);
  border-radius: 18px;
  text-align: center;
  padding: 8px 30px;
  border: none;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-top: 10px;
  justify-content: center;
  margin-bottom: 3rem;
}

.buttonDate:hover {
  background-color: var(--color-grey-4);
  color: var(--color-orange);
}

.parrafoDate {
  color: rgba(112, 112, 112, 255);
  font-style: italic;
  padding: 1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  font-size: 1.3rem;
}

.container2Special {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.c2titleSpecial {
  width: 100%;
  display: flex;
  color: rgba(88, 88, 88, 255);
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.subcontainer2Special {
  display: flex;
}

.iconSpecial {
  color: red;
  height: 22px;
  width: 20px;
  font-size: 2.5rem;
}

.c2subtitleSpecial {
  color: rgba(112, 112, 112, 255);
  width: 100%;
  display: flex;
  font-size: 1.25rem;
  letter-spacing: 1.2px;
  margin-bottom: 0.5rem;
  line-height: 1.3rem;
}

.containerOrg {
  display: inline;
}

.containerTopOrg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

.titleOrg {
  width: 30%;
  display: flex;
  color: rgba(88, 88, 88, 255);
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  align-items: center;
}

.btnOrg {
  margin-right: 0;
  display: flex;
}

.buttonOrg {
  margin-left: 0.3rem;
  display: block;
  background-color: rgba(244, 244, 244, 255);
  border: none;
  color: #d53e27;
  text-decoration: underline;
  cursor: pointer;
}

.orgContOrg {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.linkOrg {
  text-decoration: none;
}

.orgImgOrg {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1.5rem;
}

.orgSubContOrg {
  display: inline-block;
}

.orgNameOrg {
  width: 100%;
  display: flex;
  color: rgba(134, 134, 134, 255);
  font-weight: 1000;
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-bottom: 0.8rem;
}

.orgMembershipOrg {
  width: 100%;
  display: flex;
  color: rgba(165, 166, 167, 255);
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.button2Org {
  background-color: rgba(244, 244, 244, 255);
  border: none;
  color: #d53e27;
  text-decoration: underline;
  width: 100%;
  margin-left: 0;
  cursor: pointer;
}

.orgDescriptionOrg {
  color: rgba(112, 112, 112, 255);
  width: 100%;
  display: flex;
  font-size: 1.25rem;
  letter-spacing: 1.2px;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
}

.closeMenuGetPreview {
  display: flex;
  justify-content: center;
}

.containerMenuGetDanger {
  position: absolute;

  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.2);
}

.modalCodigo {
  position: absolute;
  padding: 2rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: auto;
  background-color: white;
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: var(--color-grey-6) #2b2a2a; /* scroll thumb and track */
}

.containerDescription {
  margin-bottom: 2.4rem;
}

.containerDescription p {
  font-size: 1.6rem;
  color: var(--color-grey-3);
}

.menuTitle {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-grey-1);
  margin-bottom: 1.1rem;
}

.containerFormDanger {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menuOptions {
  padding: 2rem 4rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}
.formGroup label {
  font-size: 1.6rem;
  color: var(--color-grey-3);
  margin-bottom: 0.5rem;
}

.formGroup input {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--color-grey-4);
  color: var(--color-grey-1);
}

.formGroup input:focus {
  outline: none;
  border: 1px solid var(--color-grey-4);
}

.formGroup div {
  display: flex;
}

.containerBtn {
  display: flex;
  justify-content: center;
}

.btnMenuDanger {
  background-color: var(--color-green);
  color: white;
  border-radius: 5px;
  padding: 1rem 2.4rem;
  border: none;
  cursor: pointer;
  margin-left: 2rem;
}

.closeMenuGetDanger {
  display: flex;
  justify-content: flex-end;
}

.closeMenuGetDanger button {
  background-color: transparent;
  border: none;

  font-size: 2.4rem;
  color: var(--color-grey-3);
  cursor: pointer;
}

.mySwipper {
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* {
  e.show===true ?
  <div>
    <button  className={styles.addDate} onClick={(e) => ocultarCodigos(e,index,indice)}>
      Ocultar Codigos
    </button>
  </div>
  :
  <button  className={styles.addDate} onClick={(e) => mostrarCodigos(e,index,indice)}>
    Mostrar Codigos
  </button>
}  */

/* //SWIPER */
