.cardsSection {
  margin-bottom: 8rem;
}

.titleCards {
  font-size: 2.5rem;
  color: var(--color-grey-3);
  letter-spacing: 1px;
  margin: 5rem;
  margin-left: 0;
  margin-bottom: 1rem;
  font-weight: bold;
}

.mySwipper {
  position: relative;
}

.not_event {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  color: var(--color-blue);
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}