.container {
  margin-top: 4rem;
  width: 100%;
}

.containerSub {
  margin: auto 0;
  margin-bottom: 4rem;
  height: 26rem;
  box-shadow: rgb(127, 125, 125);
  border: 1px solid var(--color-grey-4);
  border-radius: 1rem;

  padding: 3rem 4rem;
}

.containerSub1 {
}

.title {
  color: #1b3c6a;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.texto {
  color: #585858;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.subtexto {
  color: #868686;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.btn {
  width: 100%;
  font-size: 1.6rem;
  text-decoration: underline;
  cursor: pointer;
  color: #d53e27;
  border: none;
  height: 1rem;
  text-align: right;
  background-color: #29aa7900;
}

.containerBankAccount {
  display: flex;
}

.containerSub2 {
  display: block;
}

.containerBankAccount {
  display: flex;
  margin-bottom: 3rem;
}

.containerBankAccount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerBankAccount > div {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.containerBankAccount div label {
  color: #868686;
  font-size: 1.7rem;
}

.containerBankAccount div p {
  color: #868686;
  font-size: 1.7rem;
}

.check {
  accent-color: #29aa79;
  height: 2rem;
  width: 2rem;
  color: white;
  cursor: pointer;
}

.containerBtnAccount {
  display: flex;
  align-items: center;
}

.btnEdit {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.btnDelete {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.btnAccount {
  width: 100%;
  font-size: 1.6rem;
  text-decoration: underline;
  cursor: pointer;
  color: #d53e27;
  border: none;
  background-color: #29aa7900;
  padding: 0 1rem;
}

.basquet {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  color: var(--color-orange);
  margin-left: .5rem;
}

.vLine {
  border: 1px solid rgb(219, 219, 219);
  height: 2rem;
}

.hr {
  border: 0.1px solid rgb(219, 219, 219);
  width: 100%;
  margin-top: 2rem;
}

.btnAdd {
  margin-top: 3rem;
  width: 100%;
  font-size: 1.6rem;
  cursor: pointer;
  color: #d53e27;
  border: none;
  height: 1rem;
  text-align: center;
  background-color: #29aa7900;
}

.container_nocta {
  margin-top: 3rem;
  text-align: center;
}

.nocta {
  font-size: 2rem;
  /* font-weight: bold; */
  font-family: 'Raleway', sans-serif;
  color: var(--color-blue);
}
