.container{
    margin-top: 4rem;
    width: 100%; 
}

.containerSub{
    margin: auto 0;
    margin-bottom: 4rem;
    width: 90%; 
    height: 26rem;
    box-shadow:rgb(127, 125, 125) ;
    border:1px solid rgb(127, 125, 125);
    border-radius: 1rem;
    margin-left: 10rem;
    display: flex;
}

.containerSub1{
    flex: 1 1 auto;
}



.title{
    color:#1B3C6A;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-left: 5rem;
    margin-top: 3rem;
}


.texto{
    color:#585858;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-left: 5rem;
    margin-top: 3rem;
    font-weight: 600;
}

.subtexto{
    color:#868686;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    margin-left: 5rem;
    margin-top: 3rem;
}

.btn{
    width: 100%;
    font-size: 1.6rem;
    text-decoration: underline;
    cursor: pointer;
    color:#D53E27;
    border:none; 
    height: 1rem;
    text-align: right;
    background-color: #29aa7900;
    margin-left: -10rem;
    margin-top: 2.5rem;
}


.containerBankAccount{
    display: flex;
}


.containerSub2{
    display: block;
}

.containerBankAccount{
    display: flex;
    margin-left: 5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
   
}

.containerBankAccount div{
    flex: 1 1 auto
}

.containerBankAccount div label{
    color:#868686;
    font-size: 1.7rem;
    margin-left: 2rem;
}

.containerBankAccount div p{
    color:#868686;
    font-size: 1.7rem;
}


.check{
    accent-color:#29AA79;
    height: 2rem;
    width: 2rem;
    color:white;
    cursor: pointer;
}

.containerBtnAccount{
    text-align: left;
    display: flex;
    margin-right: 2rem;
}


.btnEdit{
    display: flex;
}

.btnDelete{
    display: flex;
}

.btnAccount{
    flex: 1 1 auto;
    width: 100%;
    font-size: 1.6rem;
    text-decoration: underline;
    cursor: pointer;
    color:#D53E27;
    border:none; 
    height: 1rem;
    text-align: right;
    background-color: #29aa7900;
    margin-left: -5rem;
}


.basquet{
    height: 1.5rem;
    width:1.5rem;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
}


.vLine {
    margin-left: 3rem;
    border: 1px solid rgb(219, 219, 219);
    height: 2rem;
  }

.hr {
    border: 0.1px solid rgb(219, 219, 219);
    width: 100%;
  }

  .btnAdd{
    margin-top: 3rem;
    width: 100%;
    font-size: 1.6rem;
    cursor: pointer;
    color:#D53E27;
    border:none; 
    height: 1rem;
    text-align: center;
    background-color: #29aa7900;

  }







