.container {
  text-align: left;
}

.container_box {
  width: 250px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}

.box1, .box2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  color: var(--color-grey-3);
}

.box_event {
  color: var(--color-orange);
  border-bottom: 2px solid var(--color-orange);
  font-size: 1.6rem;
  font-weight: bold;
}

.hidden {
  border-right: 2px solid var(--color-grey-3);
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-blue);
  margin-top: 30px;
}

.container_text p {
  font-size: 1.4rem;
  color: var(--color-grey-3);
  margin-top: 20px;
}