.container {
  width: min-content;
  background-color: rgba(244, 244, 244, 255);
  padding: 3rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.c2title {
  width: 100%;
  display: flex;
  color: var(--color-grey-1);
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.subcontainer2 {
  display: flex;
}

.c2subtitle {
  color: rgba(112, 112, 112, 255);
  width: 100%;
  display: flex;
  font-size: 1.25rem;
  letter-spacing: 1.2px;
  margin-bottom: 0.5rem;
  line-height: 1.3rem;
}

.icon {
  color: red;
  height: 22px;
  width: 20px;
  font-size: 2.5rem;
}

.cardHr {
  border: 0.1px solid rgb(219, 219, 219);

  width: 100%;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1160px) {
  .container {
    width: 95%;
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 756px) {
  .containerEventDate {
    display: none;
  }

  .container {
    background: none;
    padding: 2rem 0;
    width: 100%;
  }
  .container2 {
    padding: 0.5rem 3rem;
  }

  .cardHr {
    width: 95%;
    margin: 0 auto;
  }
}
