.containerUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 0;
}

.containerPhotoProfile {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerPhoto {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.containerPhoto img {
  border-radius: 100%;
  width: 20rem;
  height: 20rem;
}

.addPhoto {
  padding: 5rem;
  border-radius: 50%;
  border: 1px solid var(--color-grey-4);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}

.iconAddPhoto {
  width: 5.2rem;
  height: 5.2rem;
  color: var(--color-grey-4);
}

.btnAddPhoto,
.btnAddPhotoFile {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0.5rem;

  border: 1px solid var(--color-grey-4);
  border-radius: 5px;
  background-color: transparent;

  cursor: pointer;

  position: relative;
  margin-bottom: 1.2rem;
}

.btnAddPhotoIcon {
  color: var(--color-grey-4);
  cursor: pointer;
}

.btnAddPhoto span {
  font-size: 1.4rem;
  color: var(--color-grey-4);
  cursor: pointer;
}

.divisor {
  width: 70%;
  height: 1px;
  background-color: var(--color-grey-4);
  margin-bottom: 4rem;
}

/* FOR ORGANIZER */

.isUserIsProfileCompleted {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  margin-bottom: 2rem;
}

.isUserIsProfileCompleted span {
  color: var(--color-grey-3);
  font-size: 1.6rem;
}

.containerBtnOrganizer {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  position: relative;
}

.btnApplyForOrganizer {
  border: 1px solid var(--color-orange);
  color: var(--color-orange);
  padding: 1rem 4rem;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
}

.btnIconMoreInfo {
  width: 2rem;
  height: 2rem;
  color: var(--color-grey-3);
}

.containerMoreInfo {
  position: absolute;
  bottom: -150%;
  right: -50%;

  color: var(--color-grey-2);
  background-color: var(--color-grey-4);
  padding: 2rem 4rem;
  border-radius: 10px;

  display: none;
}

.btnIconMoreInfo:hover ~ .containerMoreInfo {
  display: block;
}

.containerForm {
  max-width: 100%;
}

/* FORM INPUTS */

.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.formGroupNames {
  flex-direction: column;
}

.subFormGroup {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.formGroup button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-orange);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.formGroup button span {
  color: var(--color-orange);
}

.formGroup button .iconEdit {
  color: var(--color-orange);
}

.inputsContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.inputsContainer label {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-grey-1);
  margin-bottom: 0.6rem;
}

.inputsContainer input,
.inputsContainer .selectNickName {
  background-color: transparent;
  border: 1px solid var(--color-grey-4);
  font-size: 1.6rem;
  color: var(--color-grey-2);
  border-radius: 5px;
  height: 4rem;
  padding: 0 1.2rem;
}

.inputsContainer span {
  color: var(--color-grey-3);
  margin-top: 6px;
  font-size: 1.2rem;
  font-style: italic;
}

.inputsContainer input::placeholder {
  font-family: inherit;
  font-size: 1.6rem;
  color: var(--color-grey-3);
}

.inputsContainer input:focus,
.inputsContainer .selectNickName:focus {
  outline: none;
  border: 1px solid var(--color-green);
}

.containerInput_Button {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.containerInput_Button input {
  flex: 1;
}

.containerInput_Button button {
}

.containerInput_Button span {
  margin: 0;
  font-style: normal;
  font-size: inherit;
}

.btnEditAuxResponsive {
  display: none !important;
}

.containerInputForPassword {
  position: relative;
  height: 100%;
}

.formGroupPassword {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;

  margin: 1.2rem 4rem;
}

.formGroupPassword label {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-grey-2);
}

.formGroupPassword input {
  width: 52.6rem;
  padding: 0.8rem 1rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 5px;
  font-size: 2rem;
  font-family: inherit;
  padding-right: 4rem;
  color: var(--color-grey-2);
}

.formGroupPassword input:focus {
  outline: none;
  border: 1px solid var(--color-green);
}

.formGroupPassword input::placeholder {
  font-size: 1.2rem;
  font-style: italic;
}

.iconVisiblePassword {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 2.2rem;
  height: 2.2rem;
  color: var(--color-grey-2);
  cursor: pointer;
}

.errorMessage {
  display: inline-block;
  color: var(--color-orange) !important;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  font-style: italic;
  left: 0;
  margin-bottom: 1.2rem;
}

.errorMessage a {
  font-weight: bold;
}

.iconCheckPassword {
  position: absolute;

  right: -3rem;
  top: 1rem;

  font-size: 2.4rem;
  color: var(--color-green);
}

/* UPLOAD IMAGES */

.containerPhotosCedula {
  margin: 2rem 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.photoFront,
.photoBack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.frontDocument,
.backDocument {
  width: 30rem;
  height: 15rem;
  margin-bottom: 0.6rem;
  border-radius: 10px;
}

.photoFront > span,
.photoBack > span {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-grey-1);
  margin-bottom: 1.2rem;
}

.photoFront > p,
.photoBack > p {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 2rem;
  color: var(--color-grey-3);
}

.dragDni {
  width: 30rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem 2rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;

  margin-bottom: 0.6rem;

  position: relative;
}

.dragDni span {
  font-size: 1.2rem;
  color: var(--color-grey-3);
}

.inputFile {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.iconCameraFile {
  width: 5rem;
  height: 5rem;
  color: var(--color-grey-4);
}

.btnAddPhotoFile {
  position: relative;
  justify-content: center;
  cursor: pointer;
}

.btnAddPhotoFile span {
  font-size: 1.2rem;
  color: var(--color-grey-4);
  cursor: pointer;
}

/* RENT */
.containerPeopleRent {
  width: min-content;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.containerPeopleRent > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.containerPeopleRent p {
  width: 40rem;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.3;
  color: var(--color-grey-5);
  margin-bottom: 2rem;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.checkbox input {
  accent-color: var(--color-orange);
}

.checkbox label {
  font-size: 1.6rem;
  color: var(--color-grey-2);
}

.containerDrag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerDrag p {
  font-size: 1.4rem;
  color: var(--color-grey-3);
  font-style: italic;
  text-align: center;
}

.imageRent {
  width: 30rem;
  height: 15rem;
  margin-bottom: 0.6rem;
  border-radius: 10px;
}

.dragRent {
  width: 30rem;
  height: 15rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  margin-bottom: 1.2rem;
}

.dragRent span {
  color: var(--color-grey-3);
}

/* ABOUT ME */

.containerAboutMe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5.2rem;
}

.containerAboutMe > div {
  width: 60%;
  margin-bottom: 2rem;
}

.containerTitle {
  display: flex;
  justify-content: space-between;
  color: var(--color-grey-1);
}

.containerTitle p {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-grey-5);
}

.containerTitle button {
  color: var(--color-orange);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-orange);

  display: flex;
  align-items: center;
  cursor: pointer;
}

.containerAboutMeInput {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.containerAboutMeInput textarea {
  width: 100%;
  resize: none;
  border-radius: 10px;
  border: 1px solid var(--color-grey-4);
  padding: 1rem 2rem;

  font-family: inherit;
  font-size: 1.4rem;
  color: var(--color-grey-5);
}

.containerAboutMeInput textarea:focus {
  outline: none;
  border: 1px solid var(--color-green);
}

.containerMainButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.btnSave {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 4rem;
  color: white;
  background-color: var(--color-orange);
  box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.btnCancel {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-orange);
  font-size: 1.6rem;
  color: var(--color-orange);
}

/* ERROR */

.formGroup .errorMessageField {
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--color-orange);
}

.errorMessageFieldAboutMe {
  width: 60%;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-orange);
}

.uploadFormDataMessage {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-orange);
}

.overlayCancel {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: grid;
  place-items: center;
}

.containerModalCancel {
  background-color: white;

  padding: 2rem 4rem;
  border-radius: 10px;
}

.titleModalCancel {
  font-size: 2.4rem;

  margin-bottom: 2.4rem;
}

.containerButtonsCancel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.containerButtonsCancel button {
  background-color: var(--color-orange);
  border: none;
  color: white;

  padding: 1rem 4rem;
  border-radius: 10px;

  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}

.containerButtonsChangeMail {
  margin-top: 0.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.containerButtonsChangeMail button {
  border: none;
  background-color: var(--color-orange);
  border-radius: 2rem;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 4rem;
  cursor: pointer;
}

.containerInputChangeEmail {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  position: relative;
}

.errorMessageChangeEmail {
  font-size: 1.6rem;
  font-style: italic;
  color: var(--color-orange);
}

/* MODAL SET ORGANIZER */

.overlaySetOrganizer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: grid;
  place-items: center;

  background-color: rgba(0, 0, 0, 0.5);
}

.containerModalSetOrganizer {
  padding: 2rem 4rem;
  background-color: white;
  width: 60%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

.containerModalSetOrganizer h3 {
  margin: 0;
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--color-blue);
}

.containerModalSetOrganizer p {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-grey-3);
}

.containerModalSetOrganizer span {
  font-size: 1.6rem;
  line-height: 1.4;
}

.containerButtons {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.btnSuccess {
  color: white;
  background-color: var(--color-orange);
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem 4rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btnCancelOrganizer {
  color: white;
  background-color: var(--color-grey-4);
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem 4rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* CUANDO YA ES ORGANIZADOR  */

.organizerContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-top: 1px solid var(--color-grey-4);
  padding: 2rem 0;
}

.organizerContainer p {
  font-size: 1.6rem;
  color: var(--color-grey-3);
}

.containerOrganizerApprobed {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 2rem;
  color: var(--color-green);
}

.iconOrganizerInfo {
  font-size: 1.6rem;
  color: var(--color-grey-3);
  margin-left: 1.2rem;
}

.btnCreateEvent {
  background-color: transparent;
  border: 1px solid var(--color-orange);
  padding: 1rem 3rem;
  border-radius: 20px;
  cursor: pointer;
  color: var(--color-orange);
  font-size: 1.6rem;
}
.proccessingOrganizer {
  color: var(--color-blue);
}

/* AVATAR EDITOR */

.avatarEditor {
  top: 0;
  left: 0;
  background-color: transparent;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1176px) {
  .containerPhotosCedula {
    flex-direction: column;
  }

  .containerPeopleRent {
    padding: 0;
  }

  .inputsContainer {
  }
}

@media screen and (max-width: 920px) {
  .containerNames {
    align-items: flex-start;
    flex-direction: column;
  }

  .btnEditAuxResponsive {
    display: block !important;
  }

  .btnEditNames {
    display: none !important;
  }
}
