.container{
	margin-top: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%; 
}

.description{
	font-family: 'Raleway';
	color:#959595;
	width: 50%;
	font-size: 1.4rem;
	letter-spacing: 1.2px;
	margin-bottom: 10rem;
	line-height: 2rem;
	justify-content: left;
	text-align: center;
}