.container{
  margin: 0 auto;
  margin-top: 9rem;
  max-width: 1420px;
}

.containercard{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 2rem;
  align-content: flex-start;
}

.card{
  margin-bottom: 3rem;
  text-align: left;
}

.container_pagination {
  margin-top: 5rem;
}
