.container {
  margin: 0 auto;
  margin-top: 9rem;
  max-width: 1420px;
}

.containercard {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  align-content: flex-start;
}

.card {
  margin-bottom: 3rem;
  text-align: left;
}

.container_pagination {
  margin-top: 5rem;
}
.notHaveEvents {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  color: var(--color-blue);
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}
