.container {
  margin-top: 4rem;
  width: 90%;
}

.containerSub {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 3rem;

  margin-bottom: 4rem;
  height: 22rem;
  box-shadow: rgb(127, 125, 125);
  border: 1px solid #d6d6d6;
  border-radius: 1rem;
}

.containerCheckBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.title {
  color: #1b3c6a;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.texto {
  color: #868686;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  width: auto;
}

.cont_txt_btn {
  display: flex;
}

.btn {
  font-size: 1.6rem;
  text-decoration: underline;
  cursor: pointer;
  background-color: white;
  color: #d53e27;
  border: none;
  height: 1rem;
}

.titleOpcion {
  color: #585858;
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
}

.cont_check {
  text-align: right;
}

.check {
  accent-color: #1c7c57;
  height: 2rem;
  width: 2rem;
  color: white;
  cursor: pointer;
}

.check:checked {
  color: white;
}

.containerSub2 {
}

.select {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  background-color: white;
  border: 1px solid #d6d6d6;
  border-radius: 1rem;
  height: 5rem;
  padding: 1rem;
  color: #868686;
  font-size: 1.8rem;
  width: 100%;
}

.select:focus {
  outline: none;
  border: 1px solid var(--color-orange);
}

.contbutton {
  justify-self: center;
  align-self: center;
}

.button {
  font-size: 1.6rem;
  border-radius: 18px;
  text-align: center;
  padding: 8px 30px;
  cursor: pointer;
  background-color: #d6d6d6;
  color: #868686;
  box-shadow: none;
  border: none;
}

.containerSub3 {
  width: 100%;
}

.titleOptionSelect {
  justify-content: start;
  color: #585858;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-right: 5rem;
  margin-top: 3rem;
}

.input {
  height: 15rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  color: black;
  background-color: white;
}

.textarea {
  height: 15rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  color: black;
  background-color: white;
  font-family: inherit;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  resize: none;
  width: 100%;
}

.textarea:focus {
  outline: none;
  border: 1px solid var(--color-green);
}

.containerVerifyPassword {
  position: absolute;
  background-color: white;
  bottom: -40%;
  right: 0;
  padding: 2rem;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputPasswordContainer {
}

.inputPasswordContainer p {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-grey-1);
  margin-bottom: 1.2rem;
}

.inputPasswordContainer input {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: none;
  background-color: none;
  border: 1px solid var(--color-green);
}

.inputPasswordContainer input:focus {
  outline: none;
}

.containerBtns {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.btnSuccess {
  margin-top: 0.8rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--color-orange);
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 4rem;
  cursor: pointer;
}
.errorMessagePassword {
  color: var(--color-orange) !important;
  font-size: 1.6rem;
  font-style: italic;
}

/* MODAL DELETE ACCOUNT */

.overlayModalDeleteAccount {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: grid;
  place-items: center;
}

.containerModalDeleteAccount {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;

  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
}

.containerModalDeleteAccount h3 {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--color-blue);
}

.containerModalDeleteAccount p {
  font-size: 1.6rem;
  color: var(--color-grey-1);
  line-height: 1.2;
}
.containerBtnsDeleteAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.btnCancel {
  border: none;
  background-color: transparent;
  color: var(--color-orange);
  border-bottom: 1px solid var(--color-orange);
  cursor: pointer;
  font-size: 1.6rem;
}

@media screen and (max-width: 1160px) {
  .containerSub {
  }

  .containerDeleteAccount {
    flex-direction: column;
  }

  .containerCheckBox {
    gap: 2rem;
  }
}

@media screen and (max-width: 1020px) {
  .containerSub,
  .containerSub3 {
  }

  .containerDeleteAccount {
    flex-direction: column;
  }

  .containerCheckBox {
    gap: 2rem;
  }
}

@media screen and (max-width: 751px) {
  .containerCheckBox {
  }

  .texto {
  }
}

@media screen and (max-width: 605px) {
  .container {
    height: 48vh;
  }
}
