
.container {
  display: flex;
  justify-content: center;
}

.page {
  display: inline-block;
  cursor: pointer;
  padding: .1rem .4rem;
}

.number:hover {
  color: var(--color-orange);
}

.number_nav {
  color: var(--color-grey-3);
  text-decoration: none;
  font-size: 2.5rem;
  font-family: 'Raleway', sans-serif;
}

.number_sel {
  color: var(--color-orange);
  text-decoration: none;
  font-size: 2.5rem;
  font-family: 'Raleway', sans-serif;
}