.container {
  min-height: 70vh;
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 2rem;
}

.container_title {
  grid-area: buttons;
  background-color: var(--color-grey-6);
  border-bottom: 0.3px solid var(--color-grey-4);
  padding-bottom: 1rem;
  width: 90%;
  margin-left: 1.5rem;
}

.title {
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--color-grey-1);
  font-family: 'Raleway', sans-serif;
  text-align: start;
  margin-left: 1rem;
}

.containerButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-grey-6);
  gap: 1.6rem;
  padding: 2rem 0;
  height: 100%;
}

.containerButtonsSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.containerButtonsSection > div {
  display: flex;
  align-items: center;
}

.containerButtonsSection input {
  display: none;
}

.containerButtonsSection label {
  font-size: 1.6rem;
  cursor: pointer;
}

.containerButtonsSection input:checked ~ * {
  color: var(--color-orange);
}

.button {
}

.button_c {
  margin-left: 2rem;
  margin-top: 2rem;
  color: var(--color-orange);
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 80%;
  text-align: left;
}

.icon {
  margin-left: auto;
  font-size: 2rem;
}

.containerComponent {
  margin-top: 4rem;
}

.container_box {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.containerButtonTypeUser {
}

.containerButtonTypeUser input {
  display: none;
}

.containerButtonTypeUser label {
  font-size: 1.6rem;
  color: var(--color-grey-3);
  cursor: pointer;
}

.containerButtonTypeUser input:checked ~ label {
  color: var(--color-orange);
  border-bottom: 2px solid var(--color-orange);
  padding-bottom: 0.5rem;
}

.box1,
.box2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  color: var(--color-grey-3);
}

.box_event {
  color: var(--color-orange);
  border-bottom: 2px solid var(--color-orange);
  font-size: 1.6rem;
  font-weight: bold;
}

.hidden {
  border-right: 2px solid var(--color-grey-3);
  margin-left: 10px;
  margin-right: 10px;
}

.containerResponsive {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 0;
}

.containerButtonsResponsive {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 4rem;

  border-radius: 1rem;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.containerResponsiveButtonTypeUser {
}

.containerResponsiveButtonTypeUser input {
  display: none;
}

.containerResponsiveButtonTypeUser label {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-grey-3);
  cursor: pointer;
}

.containerResponsiveButtonTypeUser input:checked ~ label {
  color: var(--color-orange);
}

@media screen and (max-width: 756px) {
  .container {
    display: block;
  }

  .containerComponent,
  .containerButtons {
    display: none;
  }

  .containerResponsive {
    display: flex;
  }
}
