.container {
  max-width: 1420px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: 'buttons components';

  height: 100vh;
}

.container_title {
  grid-area: buttons;
  background-color: var(--color-grey-6);
  border-bottom: 0.3px solid var(--color-grey-4);
  padding-bottom: 1rem;
  width: 90%;
  margin-left: 1.5rem;
}

.title {
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--color-grey-1);
  font-family: 'Raleway', sans-serif;
  text-align: start;
  margin-left: 1rem;
}

.containerButtons {
  grid-area: buttons;
  background-color: var(--color-grey-6);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-top: 2rem;
  width: 90%;
  margin-left: 1.5rem;
  align-items: flex-start;
}

.button {
  margin-left: 2rem;
  margin-top: 2rem;
  color: var(--color-grey-3);
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 80%;
  text-align: left;
}

.button_c {
  margin-left: 2rem;
  margin-top: 2rem;
  color: var(--color-orange);
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 80%;
  text-align: left;
}

.icon {
  font-size: 2rem;
  margin-left: 20rem;
}

.icon_1 {
  font-size: 2rem;
  margin-left: 10rem;
}

/* .button:focus {
  color: var(--color-orange);
} */

.containerComponent {
  grid-area: components;
  width: 92%;
  margin-top: 4rem;
}

.container_box {
  width: 250px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}

.box1,
.box2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  color: var(--color-grey-3);
}

.box_event {
  color: var(--color-orange);
  border-bottom: 2px solid var(--color-orange);
  font-size: 1.6rem;
  font-weight: bold;
}

.hidden {
  border-right: 2px solid var(--color-grey-3);
  margin-left: 10px;
  margin-right: 10px;
}
