.card {
  width: 30rem;
  background-color: rgba(248, 248, 248, 255);
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
  display: inline-block;
}

.cardOrg {
  width: 30rem;
  background-color: rgba(248, 248, 248, 255);
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
  display: inline-block;
}

.cardDate {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 1rem 2rem;
  font-weight: normal;
  color: rgba(134, 134, 134, 255);
  font-size: 1.3rem;
  font-family: inherit;
  float: none;
  cursor: pointer;
  width: 18rem;
}

.cardDate:focus {
  outline: none;
}

/* .cardCupos {
  border-radius: 1rem;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(213, 62, 39, 255);
  padding: 1rem 2rem;
  font-weight: normal;
  color: white;
  font-size: 1.3rem;
  float:none;
  width:150px;
  display: none;
} */
.cardDateCurrent {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 1rem 2rem;
  font-weight: normal;
  color: rgba(134, 134, 134, 255);
  font-size: 1.3rem;
  float: none;
  width: 18rem;
}

.cardCuposCurrent {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(213, 62, 39, 255);
  padding: 1rem 2rem;
  font-weight: normal;
  color: white;
  font-size: 1.3rem;
  float: none;
  width: 150px;
}

.cardAddLoad {
  position: absolute;
  top: 2%;
  right: 3%;
  border-radius: 50%;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.cardAddFav {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  font-weight: normal;
  color: var(--color-grey-2);
}

.cardAddFavHeart {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--color-orange);
  font-weight: normal;
  padding: 0.6rem;
}

.cardAddFav input,
.cardAddFavHeart input {
  display: none;
}

.cardAddFav label,
.cardAddFavHeart label {
  display: inline-block;
  padding: 0.1rem;
  cursor: pointer;
}

.cardAddFavMenu {
  position: absolute;
  text-align: center;
  top: 5.2rem;
  left: 0;
  width: 20rem;
  padding: 2rem;
  border-radius: 1rem;
  transform: translateX(-80%);
  background-color: white;

  /* display: none; */
  animation: cardMenuOpen 0.5s;
}

.cardAddFavMenu p {
  font-size: 1.4rem;
}

.cardAddFavMenu a {
  font-weight: bold;
  color: var(--color-orange);
}

.cardAddFav input:checked ~ .cardAddFav label {
  transform: rotate(180deg);
  color: red;
}

.cardAddFav input:checked ~ .cardAddFavMenu {
  display: block;
}

.cardImgEvent {
  object-fit: cover;
  height: 20rem;
}

.cardRating {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.cardRating span {
  font-size: 1.2rem;
}

.cardRating .rating {
  font-size: 2rem;
}

.cardText {
  height: 8rem;
  padding: 1rem 2rem;
}

.cardTitle {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(134, 134, 134, 255);
  margin-bottom: 0.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardTitle:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 250px;
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  color: grey;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
  white-space: normal;
  text-overflow: normal;
  overflow: visible;
}

.cardTitle:hover:before {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  white-space: normal;
}

/* .cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(134, 134, 134, 255);
  margin-bottom: 0.5rem;
} */

.cardNick {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(134, 134, 134, 255);
  margin-bottom: 0.5rem;
}

.cardDescription {
  font-size: 1.1rem;
  color: #585858;
}

.cardHr {
  border: 1px solid #f0f0f0;
  width: 85%;
  margin-left: 2rem;
}

.cardOrgInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.6rem;
}

.organizerEvent {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0 1rem;
}

/* .cardOrgInfo {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 1px solid green;
}

.box {
  border: 1px solid red;
}

.box {
  display: flex;

} */

.cardOrgPicture {
  margin-left: 0.4rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.cardOrgName {
  font-size: 1.1rem;
  color: #585858;
}

.cardPrice {
  font-size: 1.4rem;
  color: rgba(134, 134, 134, 255);
  font-weight: 700;
  margin-left: 1rem;
  margin-right: 1rem;
}

.cardDetails {
  width: 5rem;
  font-size: 1rem;
  color: #d74c42;
  font-weight: 700;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.vLine {
  border: 1px solid #f0f0f0;
  height: 5rem;
}

@keyframes cardMenuOpen {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

.containerDatos {
  position: relative;
  margin-top: 3rem;
  width: 100%;
  background-color: white;
}

.datos {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.subDatos {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.datos p {
  color: #585858;
  font-size: 1.6rem;
  font-weight: bold;
  height: 2rem;
}

.datos h4 {
  color: #a8a8a8;
  font-size: 1.6rem;
  font-weight: bold;
  height: 2rem;
}

.datos button {
  font-size: 1.6rem;
  text-decoration: underline;
  cursor: pointer;
  background-color: white;
  color: #d53e27;
  border: none;
}

.containerMenuGetDates {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  /* height: 15rem;
  width: 15rem; */
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 120%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999999999999999;
  margin-left: -50%;
  margin-right: -50%;
}

.modalContent {
  position: absolute;
  display: flex;
  background-color: #fefefe;
  padding: 10px;
  border: 1px solid #888;
  width: 200%;
  margin-left: 5rem;
}

.modalContent p {
  color: #d53e27;
}

.link {
  font-size: 1.6rem;
  text-decoration: none;
  cursor: pointer;
  color: #d53e27;
  border: none;
}

.container_choosedate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.container_choosedate p {
}

.loadingHearts {
  width: 3.4rem;
  height: 3.4rem;
}

@media screen and (max-width: 756px) {
  .containerDatos {
    margin-top: 1rem;
    border: 1px solid var(--color-grey-4);
    border-radius: 2rem;
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 692px) {
  .cardDate {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 522px) {
  .card {
    width: 26rem;
  }

  .cardAddLoad {
    top: 1%;
    right: 4%;
    width: 3.4rem;
    height: 3.4rem;
  }

  .cardDate,
  .cardCuposCurrent,
  .cardDateCurrent {
    width: 14rem;
    border-radius: 3px;
  }

  .cardCuposCurrent,
  .cardDateCurrent {
    font-size: 1.2rem;
    padding: 0.8rem;
    border-radius: 3px;
  }

  .cardAddFavHeart {
    top: 2%;
    right: 2%;
  }

  .iconFavEvent {
    font-size: 3rem !important;
  }

  .cardAddFav {
    top: 2%;
    right: 2%;
  }

  .iconAddFavEvent {
    font-size: 4rem !important;
  }
}

@media screen and (max-width: 416px) {
  .card {
    width: 21.5rem;
  }

  .cardText {
    padding: 0.5rem 1rem;
  }

  .cardRating {
    margin-right: 1rem;
  }

  .cardRating .numberRating {
    font-size: 1.6rem;
    color: var(--color-grey-3);
  }

  .vLine:nth-child(5) {
    display: none;
  }

  .cardDetails {
    display: none;
  }
}
