.containerall{
    width: 100%
}
.header{
    width: 80%;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.title{
    color:#1B3C6A;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem
}

.btnCont{
    width: 80%;
    margin-top: -10rem;
   
}
.btn{
    font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-grey-4);
  background-color: var(--color-orange);
  border-radius: 18px;
  text-align: center;
  padding: 8px 30px;
  cursor: pointer;
  border: 1px solid transparent;
}

.btn:hover {
    background-color: transparent;
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
  }

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 6rem;
    justify-content: center;
    align-items: center;
    width: 80%; 
    
  }

  .card{
    background-color: var(--color-grey-6);
    padding: 8rem 0;
  }

  .title {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-blue);
    text-align: center;
    margin-bottom: 8rem;
  }

  .img {
    width: 10rem;
    height: 10rem;
  }

  .subTitle{
    color:#707070;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    position: relative;
    width: 30rem;
    border:1px solid grey
  }
  