.container {
  height: 95vh;
}

.container_title {
  position: relative;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-blue);
  text-align: center;
  margin-top: 6rem;
}

.button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 48rem;
  top: 6rem;
  cursor: pointer;
}

.text {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  color: var(--color-grey-2);
  border-bottom: 0.5px solid var(--color-grey-3);
}

.container_notifications {
  margin-top: 5.5rem;
}

.notification {
 /*  display: flex; */
  background-color: var(--color-grey-4);
  border-bottom: 0.1px solid rgb(219, 219, 219);
  width: 80.6rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 2rem;
  cursor: pointer;
}

.notification_read {
  /* display: flex; */
  border-bottom: 0.1px solid rgb(219, 219, 219);
  width: 80.6rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.div_noty {
  display: flex;
}

.date_format {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  margin-left: 4rem;
}

.notification p,
.notification_read p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  color: var(--color-grey-2);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2rem;
}

.icon {
  color: var(--color-grey-3);
  width: 2.7rem;
  height: 2.7rem;
}
