.container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: flex-start;
  gap: 2rem;

  max-width: 142rem;
  margin: 0 auto;
}

.item1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerSwiper {
}

.img {
  object-fit: cover;
}

.title {
  color: var(--color-blue);
  font-size: 3.5rem;
  font-weight: bold;
}

.container_opinions {
  display: flex;
  margin-top: 10px;
}

.opinions {
  color: var(--color-orange);
  margin-left: auto;
  border-bottom: 1px solid var(--color-orange);
  cursor: pointer;
  font-size: 1.5rem;
}

.title_description {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-grey-2);
  margin-top: 10px;
}

.description {
  font-size: 1.4rem;
  color: var(--color-grey-3);
  margin-top: 10px;
}

.container_plus {
  display: flex;
  margin-top: 10px;
}

.container_plus p {
  color: var(--color-orange);
  margin-left: auto;
  border-bottom: 1px solid var(--color-orange);
  cursor: pointer;
  font-size: 1.5rem;
}

.report {
  font-size: 1.2;
  color: var(--color-grey-3);
  margin-top: 10px;
}

.container_icon_heart {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 60px;
  position: relative;
  bottom: 18px;
  left: 20px;
  z-index: 100;
  box-shadow: 1px 6px 10px var(--color-grey-3);
}

.container_icon_heart_l {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 60px;
  position: relative;
  bottom: 18px;
  left: 20px;
  z-index: 100;
  background-color: white;
  cursor: pointer;
}

.container_icon_heart_p {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--color-orange);
  border-radius: 60px;
  position: relative;
  bottom: 18px;
  left: 20px;
  z-index: 100;
  box-shadow: 1px 6px 10px var(--color-grey-3);
  cursor: pointer;
}

.icon_hear_p {
  margin: auto;
  color: white;
  cursor: pointer;
}

.icon_heart {
  margin: auto;
  color: var(--color-grey-6);
  cursor: pointer;
}

/*.container_icon_share input:checked ~ .redes {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}*/

.label {
  background-color: white;
  bottom: 57px;
  left: 70px;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 60px;
  position: relative;
  z-index: 100;
  box-shadow: 1px 6px 10px var(--color-grey-3);
}

.icon_share {
  color: var(--color-orange);
  cursor: pointer;
  margin: auto;
}

.redes {
  width: 20rem;
  height: 5rem;
  padding: 0 2rem;
  color: var(--color-orange);
  background-color: var(--color-grey-6);
  position: absolute;
  border-radius: 10px;
  bottom: 103px;
  left: 60px;
  z-index: 100;
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.icons {
  width: 2rem;
  height: 2rem;
  color: var(--color-grey-4);
  transition: all 0.2s;
  cursor: pointer;
  margin: auto;
}

.icons:hover {
  color: var(--color-orange);
  transform: scale(1.2);
}

.title {
  display: flex;
}

.container_rating {
  margin-left: auto;
}

.numberRating {
  color: var(--color-grey-3);
  font-size: 2rem;
  margin: auto 0;
  font-weight: normal;
}

.line {
  border: 0.1px solid rgb(219, 219, 219);
  margin-top: 10px;
}

.report {
  cursor: pointer;
}

.report:hover {
  color: orange;
}

/* MENU CHECK */

.containerMenuGetDanger {
  position: absolute;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.2);
}

.containerDescription {
  margin-bottom: 2.4rem;
}

.containerDescription p {
  font-size: 1.6rem;
  color: var(--color-grey-3);
}

.menuTitle {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-grey-1);
  margin-bottom: 1.1rem;
}

.containerFormDanger {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menuOptions {
  padding: 2rem 4rem;
}

.formReport {
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}
.formGroup label {
  font-size: 1.6rem;
  color: var(--color-grey-3);
  margin-bottom: 0.5rem;
}

.formGroup input {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--color-grey-4);
  color: var(--color-grey-1);
}

.formGroup input:focus {
  outline: none;
  border: 1px solid var(--color-grey-4);
}

.formGroup div {
  display: flex;
}

.containerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnMenuDanger {
  background-color: var(--color-green);
  color: white;
  border-radius: 5px;
  padding: 1rem 2.4rem;
  border: none;
  cursor: pointer;
  margin-left: 2rem;
}

.closeMenuGetDanger {
  display: flex;
  justify-content: flex-end;
}

.closeMenuGetDanger button {
  background-color: transparent;
  border: none;

  font-size: 2.4rem;
  color: var(--color-grey-3);
  cursor: pointer;
}

.checkboxReport {
  accent-color: var(--color-orange);
}

.errorMessageReportEvent {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-orange);
  margin-top: 1.2rem;
}

.iconLoadingReport {
  margin-left: 1.2rem;
  font-size: 2.4rem;
  color: var(--color-green);
  animation: spinner 2s infinite;
}

.containerEventInformation {
  padding: 0 2rem;
}

.containerCommentsEvents {
  display: none;
}

.containerMenuOpenEvent {
  display: none;
  position: relative;
  width: 98%;
  z-index: 999;
}

.containerTableBuy {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: -17rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 2rem 1rem;
  transition: all 0.2s;
}

.containerIconOpenMenu {
  position: fixed;
  bottom: 7.5rem;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgba(255, 255, 255, 0.9);

  padding: 1rem 5rem;
  padding-bottom: 2rem;
  border-top-left-radius: 55%;
  border-top-right-radius: 55%;
  transition: all 0.2s;

  cursor: pointer;
}

.containerIconOpenMenu input {
  display: none;
}

.iconMenu {
  width: 4.8rem;
  height: 4.8rem;
  color: var(--color-grey-3);
  cursor: pointer;
}

.checkOpenMenu {
  display: none;
}
/* function open Menu */

.checkOpenMenu:checked ~ .containerTableBuy {
  bottom: 0;
}

.checkOpenMenu:checked ~ .containerIconOpenMenu {
  bottom: 24.5rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.containerMenuBuyEvent {
  display: none;
}

@media screen and (max-width: 1300px) {
  .container {
    padding-left: 4rem;
    gap: 2rem;
  }
}

@media screen and (max-width: 1160px) {
  .container {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 756px) {
  .container {
    padding: 0;
    grid-template-columns: none;
    justify-items: center;
    margin: 0;
  }

  .containerSwiper {
    position: relative;
    height: 30rem;
    width: 100%;
  }

  .containerSwiperGeneral {
    position: absolute;
    left: 0;
    right: 0;
  }

  .container_opinions {
    display: none;
  }
  .containerCommentsEventsScreenHigh {
    display: none;
  }
  .containerCommentsEvents {
    display: block;
  }
  .containerMenuOpenEvent {
    display: block;
  }

  .containerTableBuy {
    bottom: -25rem;
  }
  .containerIconOpenMenu {
    bottom: 8rem;
  }

  .checkOpenMenu:checked ~ .containerIconOpenMenu {
    bottom: 33.2rem;
  }
}

@media screen and (max-width: 433px) {
  .containerTableBuy {
  }
  .containerIconOpenMenu {
  }

  .checkOpenMenu:checked ~ .containerIconOpenMenu {
    bottom: 34rem;
  }
}

.calendar_responsive {
  font-size: 2px !important;
}

@media screen and (max-width: 422px) {
  .containerTableBuy {
    bottom: -26rem;
  }
  .checkOpenMenu:checked ~ .containerIconOpenMenu {
    bottom: 34.5rem;
  }
}

@media screen and (max-width: 382px) {
  .containerTableBuy {
    bottom: -28.6rem;
  }
  .containerIconOpenMenu {
    bottom: 6rem;
  }

  .checkOpenMenu:checked ~ .containerIconOpenMenu {
  }
}
