.container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

.container_close {
  display: flex;
  margin: 1rem 0;
}

.modal_close {
  font-size: 2rem;
  color: var(--color-grey-3);
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
}

.title {
  color: var(--color-blue);
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  margin-top: 1rem 2rem;
  text-align: start;
  margin-right: auto;
}

.line_div {
  border: 0.1px solid rgb(219, 219, 219);
  margin: 1rem 0;
}

.container_texts {
  margin: 1rem 0;
}

.text {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  color: var(--color-grey-3);
  margin-top: .3rem;
  text-align: start;
}

.container_select {
  margin-top: 1rem;
}

.select {
  width: 100%;
  border: .5px solid var(--color-grey-3);
  padding: .9rem;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  color: var(--color-grey-3);
  background-color: white;
}

.container_title {
  margin-top: 1rem;
}

.container_title p {
  text-align: start;
  margin-top: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  color: var(--color-grey-3);
  font-weight: bold;
}

.container_title textarea {
  width: 100%;
  margin-top: 1rem;
}

.container_button {
  display: flex;
}

.button_confirm {
  background-color: var(--color-orange);
  border-radius: 15px;
  padding: 1rem 3rem;
  margin: 3rem auto;
  border: none;
  color: var(--color-grey-6);
  font-weight: bold;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

