.container {
  position: fixed;
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 100;
}

.container img {
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  transition: all 0.2s;
}

.container img:hover {
  transform: scale(1.1);
}

.containerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.containerImgInput {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.container_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_div > * {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0 20px;
  color: var(--color-grey-3);
  cursor: pointer;
}

.button {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  background-color: var(--color-orange);
  border-radius: 18px;
  text-align: center;
  padding: 8px 30px;
  cursor: pointer;
  border: 1px solid transparent;
}

.button:hover {
  background-color: transparent;
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
}

.customizeNavBar {
  position: sticky;
  z-index: 99999999999999;
  top: 0;
  background-color: white;

  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

.buttonOrganizar,
.buttonOrganizarMenu {
  font-size: 1.4rem;
  border-radius: 18px;
  text-align: center;
  padding: 8px 30px;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
}

.buttonOrganizarMenu {
  display: none;
}

/* USER LOGGED */

.containerNotification {
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.divisorNotis {
  display: block;
  height: 3rem;
  width: 2px;
  background-color: var(--color-grey-3);
}

.iconNav {
  width: 2rem;
  height: 2rem;
}

.containerMessage,
.containerNotis {
  position: relative;
}

.bage {
  position: absolute;
  top: -8px;
  right: -1.2rem;
  background-color: var(--color-orange);
  border-radius: 50%;
  color: white;
  padding: 0.2rem 0.6rem;
}

.containerName {
  font-size: 1.6rem;
  font-weight: bold;
}
.userImg {
  border-radius: 50%;
  width: 6.7rem;
  height: 6.7rem;
}

.iconMenu {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.containerProfileMenu {
  position: absolute;
  right: 0;
  bottom: -18rem;
  background-color: white;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.containerProfileMenu > * {
  transition: all 0.2s;
}

.containerProfileMenu > *:hover {
  color: var(--color-orange);
}

.buttonOrganizarMenu {
  padding: 0;
  border: none;
  text-align: left;
}

.notifications {
  position: absolute;
  top: 5rem;
  width: 50rem;
  max-height: 70rem;
  overflow-y: auto;
  right: -10rem;
  background-color: white;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.close_menu {
  font-weight: bold;
  font-size: 1.4rem;
  display: inline-block;
  width: 2rem;
}

.close_menu:hover {
  border: none;
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--color-orange);
}

.noty {
  border-top: 0.5px solid var(--color-grey-3);
  padding: 1rem;
}

.link_noti {
  color: var(--color-orange);
  display: flex;
  justify-content: flex-end;
}

.link_notis {
  border-top: 1px solid var(--color-grey-3);
  padding: 1rem 0;
  color: var(--color-orange);
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

/* MENU RESPONSIVE */

.hamburgerIcon {
  display: none;
  font-size: 5rem;
  color: var(--color-orange);
}

.navMyListMenu {
  display: none;
}

@media screen and (max-width: 1188px) {
  .navMyList {
    display: none;
  }
  .navMyListMenu {
    display: block;
  }
  .containerProfileMenu {
    bottom: -20.5rem;
  }
}

@media screen and (max-width: 1160px) {
  .buttonOrganizar {
    display: none;
  }

  .buttonOrganizarMenu {
    display: block;
  }
  .containerProfileMenu {
    bottom: -24.5rem;
  }
}

@media screen and (max-width: 910px) {
  .container_div {
    justify-content: center;
    gap: 2.4rem;
  }

  .container_div > * {
    padding: 0;
  }

  .containerNotification {
    justify-content: center;
    gap: 2.8rem;
  }
}

@media screen and (max-width: 712px) {
  .containerNotification {
    display: none;
  }

  .containerName {
    display: none;
  }

  .iconMenu {
    display: none;
  }
  .searchComponent {
    display: none;
  }

  .hamburgerIcon {
    display: block;
  }
}

.menu {
  position: fixed;
  width: 70%;
  top: 0;
  left: 0;

  height: 100vh;
  padding: 2rem;
  background-color: white;
  animation: menu 0.6s ease-in-out;
}

.iconCloseMenu {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 4.2rem;
  color: var(--color-orange);
}

.listItemsMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.2rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.itemMenu {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--color-orange);
}

.itemMenu button {
  border: none;
  background: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.btnCreateEvent {
  text-align: center;
  background-color: var(--color-orange) !important;
  color: white !important;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.auxDiv {
  display: none;
}

.containerUserNav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3.2rem;
}
.containerUserNav button {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--color-orange);
  background: none;
  border: none;
}

.containerUserNav hr {
  width: 100%;
  height: 1px;
  border: 1px solid var(--color-grey-4);
}

.btnOrganizeEvent {
  background-color: var(--color-orange) !important;
  color: white !important;
  padding: 1rem 1.5rem;
  border-radius: 10px;
}

@media screen and (max-width: 478px) {
  .containerBtnLogin {
    display: none;
  }
  .containerBtnOrganizer {
    display: none;
  }
  .auxDiv {
    display: block;
  }
  .btnLogin {
    display: none;
  }
  .btnRegister {
    display: none;
  }
}

@keyframes menu {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}
