.container {
  width: 100%;
}

.containerPortada {
  height: 95vh;
  overflow: hidden;
  position: relative;
}

.imgPortada {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background-color: red; */
}

.containerTextPortada {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
}

.titlePortada {
  font-size: 8.2rem;
  font-weight: bold;
}

.containerTextPortada div {
  margin-top: 6em;
}

.subTitlePortada {
  font-size: 3rem;
  padding: .1rem;
}

.btn {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-grey-4);
  background-color: var(--color-orange);
  border-radius: 18px;
  text-align: center;
  padding: 8px 30px;
  cursor: pointer;
  border: 1px solid transparent;
  margin-top: 6rem;
}

.btn:hover {
  background-color: transparent;
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
}

.containerContent {
  width: 100%;
  letter-spacing: 1.2px;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
  font-size: 3.6rem;
  font-weight: bold;
  color: #1b3c6a;
}
.title {
  color: #1b3c6a;
  font-size: 3rem;
  font-weight: bold;
}

.containerItems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.items {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;
  width: 30rem;
  border: none;
  box-shadow: 10px 5px 5px rgb(231, 230, 230);
  margin: 1rem;
}

.img {
  width: 10rem;
  height: 10rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-blue);
  text-align: center;
  margin-bottom: 4rem;
}

.subTitle {
  color: #707070;
  font-size: 1.3rem;
}

@media screen and (max-width: 980px) {
  .items {
    width: 24rem;
  }

  .title {
    font-size: 2rem;
  }
  .subTitle {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 696px) {
  .titlePortada {
    font-size: 4.8rem;
  }

  .subTitlePortada {
    font-size: 2.4rem;
  }

  .containerItems {
    grid-template-columns: repeat(2, 1fr);
  }

  .header {
    font-size: 2.4rem;
  }

  .items {
    width: initial;
    padding: 1.5rem;
  }

  .title {
    font-size: initial;
  }
  .subTitle {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 428px) {
  .img {
    width: 7rem;
    height: 7rem;
  }
}
