.page {
  display: grid;
  place-items: center;
  height: 85vh;
}

.container {
  display: flex;
  gap: 4.8rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;

  color: var(--color-blue);
  margin-bottom: 2.4rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;

  position: relative;
}

.formGroup label {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-grey-2);
}

.formGroup input {
  width: 48.6rem;
  padding: 0.8rem 1rem;
  border: 1px solid var(--color-grey-4);
  border-radius: 10px;
  font-size: 2rem;
  font-family: inherit;
  padding-right: 4rem;
  color: var(--color-grey-2);
}

.formGroup input:focus {
  outline: none;
  border: 1px solid var(--color-green);
}

.formGroup input::placeholder {
  font-size: 1rem;
  font-style: italic;
}

.containerInputForPassword {
  width: 100%;
  position: relative;
}

.iconVisiblePassword {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 2.2rem;
  height: 2.2rem;
  color: var(--color-grey-2);
  cursor: pointer;
}

.errorMessage {
  position: absolute;
  color: var(--color-orange);
  font-size: 1.4rem;
  font-style: italic;
  bottom: -1.7rem;
  right: 0;
}

.messageError {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--color-orange);
}

.btnCambiar button {
  color: white;
  border: none;
  background-color: var(--color-orange);
  border-radius: 10px;
  padding: 1rem 4rem;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}

.containerErrorMessageGeneral,
.containerSuccessMessageGeneral {
  font-size: 1.6rem;
  font-weight: bold;
}

.containerErrorMessageGeneral {
  color: var(--color-orange);
}

.containerSuccessMessageGeneral {
  color: var(--color-green);
}

.overlayErrorModalPassword {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;

  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.containerErrorModalPassword {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  width: 60%;
}

.containerErrorModalPassword p {
  font-size: 1.6rem;
  color: var(--color-grey-1);
}

.containerErrorModalPassword button {
  font-size: 1.6rem;
  color: white;
  padding: 1rem 2rem;
  background-color: var(--color-orange);
  border-radius: 1rem;
}

@media screen and (max-width: 816px) {
  .formGroup input {
    width: 36rem;
  }
}

@media screen and (max-width: 712px) {
  .container {
    flex-direction: column;
    gap: 0;
  }

  .formGroup input {
    width: 48.6rem;
  }

  .imgCandado {
    width: 20rem;
    height: 20rem;
  }
}
